/* styleSecret.css */

.wingdings-text {
    font-family: 'Wingdings', sans-serif;
}

p {
    font-family: 'Wingdings', sans-serif;
    color: rgb(0,0,0);
    font-size: 25px;
}

body {
    background-color: rgb(0,0,0);
}